.meetVideoContainer {
  position: relative;
  height: 100vh;
  background: rgb(1, 4, 48);
  overflow: hidden;
}

.meetUserVideo {
  position: absolute;
  bottom: 10vh;
  height: 20vh;
  width: auto;
  left: 10px;
  border-radius: 10px;
  z-index: 5;
}

.buttonContainers {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  border-radius: 10px;
}

.buttonContainers svg {
  font-size: 2.5rem;
  color: white;
}

.conferenceView {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  width: 100%;
  height: 100vh;
  padding: 10px;
  box-sizing: border-box;
  gap: 10px;
  background-color: #000;
  position: relative;
  z-index: 1;
  overflow-y: auto;
}

.videoWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  background-color: black;
  position: relative;
}

.videoWrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.chatRoom {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 90vh;
  width: 30vw;
  background: white;
  border-radius: 10px;
  padding: 15px;
  z-index: 9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.chatContainer {
  position: relative;
  height: 100%;
}

.chattingArea {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px 0;
  display: flex;
  gap: 10px;
  width: 100%;
  background-color: white;
  z-index: 10;
}
